{% extends 'base.html.twig' %}

{% block body %}
    <h1>Ajouter un lieu</h1>
    <div class="col-md-9">

        {{ form(lieuForm) }}
    </div>
    <a href="{{ path('sortie_creer') }}"><button type="button"></button> Retour</a>
{% endblock %}

{% block title %}

{% endblock %}

