{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    {% if app.user %}
        <h1>Profil de {{ app.user.userIdentifier }}</h1>
        <p>Email : {{ app.user.email }}</p>
        <p>Rôles : {{ user.roles|join(', ') }}</p>
    {% else %}
        <p>Vous n'êtes pas connecté</p>
    {% endif %}
{% endblock %}

