{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

    <p>Date de la sortie : {{sortie.dateHeureDebut }}</p>
    <p>Date de Clôture : {{sortie.dateCloture  }}</p>
    <p>Durée : {{sortie.duree}} minutes</p>
    <p>Description : {{sortie.descriptionInfos}}</p>

{% endblock %}
