{% extends 'base.html.twig' %}

{% block title %}
    {{ parent()}} - Accueil
{% endblock %}

{% block body %}
    <div class="bloc">
        <video autoplay="autoplay" loop muted="muted">
            <source src="{{ asset('video/finalVideoBackground2-highlight.mp4') }}" type="video/mp4">
        </video>
    </div>
{% endblock %}
